.saved-news-header {
  padding: 40px calc(100%*104/1440) 56px calc(100%*104/1440);
}

.saved-news-header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-family: 'Roboto', 'Lucida Sans Unicode';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  max-width: 530px;
  font-family: 'Roboto Slab', 'Lucida Sans Unicode';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.saved-news-header__keys {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Lucida Sans Unicode';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.saved-news-header__keys_bold {
  font-weight: bold;
}

@media screen and (max-width:1000px) {
  .saved-news-header {
    padding: 24px calc(100%*40/768) 32px calc(100%*40/768);
  }
  .saved-news-header__title {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .saved-news-header__subtitle {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 34px;
    max-width: 336px;
  }
  .saved-news-header__keys {
    font-size: 14px;
    line-height: 24px;
  }
}